/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* fonts for the website */

body {
  font-family: Lucida Handwriting, Cursive;
}

/* title of the website */
header {
  text-align: center;
  color: #ff9b9b;
  font-size: 2.5em;
  border: 1px outset;
  padding: 14px;
  background: black;
  font-family: Brush Script MT, Cursive;
}

/* naviation design */
div.nav {
  text-align: center;
}

li {
  padding: 0 50px 0 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  font-size: 1.5em;
  color: #fbc3b0;
}

@media screen and (min-width: 1200px) {
  ul,
  li {
    display: inline;
  }
  div.nav {
    text-align: right;
  }
}

/* font choice for the main content */

/* showing which pages are showing */
a.home,
a.mooncake,
a.contact,
a.chiffoncake {
  color: #f29a9a;
}

/* chang e story's text formating */
p.change {
  font-size: 1.5em;
  color: #ff8c00;

  padding: 7% 70% 2% 7%;
}

@media screen and (max-width: 1600px) {
  p.change {
    font-size: 1em;
    padding: 5% 70% 2% 5%;
  }
  table {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  p.change {
    font-size: 0.5em;
    padding: 10% 70% 2% 3%;
  }
  table {
    font-size: 0.5em;
  }
}

/* flex display */
div.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5% 0 0 0;
}

div.flex-container > div {
  flex-basis: 40%;
}

div.poem {
  padding: 10% 2%;
  font-size: 1.25em;
  color: #fa8072;
}

@media screen and (max-width: 600px) {
  div.flex-container {
    display: block;

    padding: 5% 0 0 0;
  }
}

img.background {
  position: absolute;
  z-index: -1;
  padding: 1% 0 0 0;
}

h1 {
  text-align: center;
  color: #800000;
}

div.cake {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5% 1%;
}

@media screen and (max-width: 1200px) {
  div.cake {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  div.cake {
    display: block;
  }
}

div.cake > figure > img {
  width: 95%;
  height: 75%;
  padding: 5%;
}

figcaption {
  font-size: 1.2em;
  color: #800000;
  text-align: center;
}
/* stable formatting */
table {
  padding: 0.2% 5%;
}
td,
th {
  border: 1px solid black;
}

p,
table {
  text-align: center;
  color: #800000;
}
/* form formatting */
form {
  padding: 2% 40%;
  color: #f4a460;
}

@media screen and (max-width: 600px) {
  form {
    padding: 2% 10%;
  }
}
